Survivalcraft/Content/Assets/Database.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="Database">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="DatabaseObjectTypes" />
                <xs:element ref="Assemblies" />
                <xs:element ref="DatabaseObjects" />
                <xs:element ref="GridViewPresets" />
                <xs:element name="UserTypes" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="Mod">
        <xs:complexType>
            <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DatabaseObjectTypes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DatabaseObjectType" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                        <xs:attribute name="DefaultInstanceName" type="xs:string" />
                        <xs:attribute name="IconName" type="xs:string" />
                        <xs:attribute name="Order" type="xs:integer" />
                        <xs:attribute name="SupportsValue" type="Bollean" />
                        <xs:attribute name="MustInherit" type="Bollean" />
                        <xs:attribute name="NameLengthLimit" type="xs:integer" />
                        <xs:attribute name="SaveStandalone" type="Bollean" />
                        <xs:attribute name="AllowedNestingParents" type="xs:string" />
                        <xs:attribute name="AllowedInheritanceParents" type="xs:string" />
                        <xs:attribute name="NestedValueType" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Assemblies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Assembly" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="Name" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="DatabaseObjects">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Folder" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attribute name="RootGuid" type="Guid" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="BaseAttributes">
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Guid" type="Guid" use="required" />
        <xs:attribute name="InheritanceParent" type="Guid" />
        <xs:attribute name="New-InheritanceParent" type="Guid" />
        <xs:attribute name="Description" type="xs:string" />
        <xs:attribute name="New-Description" type="xs:string" />
        <xs:attribute name="Remove" type="xs:string" />
    </xs:attributeGroup>

    <xs:attributeGroup name="BaseAttributesGuidNoRequired">
        <xs:attribute name="Name" type="xs:string" use="required" />
        <xs:attribute name="Guid" type="Guid" />
        <xs:attribute name="InheritanceParent" type="Guid" />
        <xs:attribute name="New-InheritanceParent" type="Guid" />
        <xs:attribute name="Description" type="xs:string" />
        <xs:attribute name="New-Description" type="xs:string" />
        <xs:attribute name="Remove" type="xs:string" />
    </xs:attributeGroup>

    <xs:group name="Parameters">
        <xs:choice>
            <xs:element ref="Parameter" />
            <xs:element ref="ParameterSet" />
        </xs:choice>
    </xs:group>

    <xs:element name="Folder">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Folder" />
                <xs:element ref="ProjectTemplate" />
                <xs:element ref="EntityTemplate" />
                <xs:element ref="SubsystemTemplate" />
                <xs:element ref="ComponentTemplate" />
            </xs:choice>
            <xs:attributeGroup ref="BaseAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="ProjectTemplate">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MemberSubsystemTemplate" minOccurs="0" maxOccurs="unbounded" />
                <xs:group ref="Parameters" />
            </xs:choice>
            <xs:attributeGroup ref="BaseAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="MemberSubsystemTemplate">
        <xs:complexType>
            <xs:group ref="Parameters" minOccurs="0" maxOccurs="unbounded" />
            <xs:attributeGroup ref="BaseAttributesGuidNoRequired" />
        </xs:complexType>
    </xs:element>

    <xs:element name="SubsystemTemplate">
        <xs:complexType>
            <xs:group ref="Parameters" minOccurs="0" maxOccurs="unbounded" />
            <xs:attributeGroup ref="BaseAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="EntityTemplate">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MemberComponentTemplate" minOccurs="0" maxOccurs="unbounded" />
                <xs:group ref="Parameters" />
            </xs:choice>
            <xs:attributeGroup ref="BaseAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="ComponentTemplate">
        <xs:complexType>
            <xs:group ref="Parameters" minOccurs="0" maxOccurs="unbounded" />
            <xs:attributeGroup ref="BaseAttributes" />
        </xs:complexType>
    </xs:element>

    <xs:element name="MemberComponentTemplate">
        <xs:complexType>
            <xs:group ref="Parameters" minOccurs="0" maxOccurs="unbounded" />
            <xs:attributeGroup ref="BaseAttributesGuidNoRequired" />
        </xs:complexType>
    </xs:element>

    <xs:element name="Parameter">
        <xs:complexType>
            <xs:attributeGroup ref="BaseAttributesGuidNoRequired" />
            <xs:attribute name="Value" type="xs:string" />
            <xs:attribute name="new-Value" type="xs:string" />
            <xs:attribute name="Type" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>

    <xs:element name="ParameterSet">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Parameter" minOccurs="0" maxOccurs="unbounded" />
                <xs:element ref="ParameterSet" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
            <xs:attributeGroup ref="BaseAttributesGuidNoRequired" />
        </xs:complexType>
    </xs:element>

    <xs:element name="GridViewPresets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GridViewPreset" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="Guid" type="Guid" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Name" type="xs:string" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="Bollean">
        <xs:restriction base="xs:string">
            <xs:enumeration value="True" />
            <xs:enumeration value="False" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Guid">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </xs:restriction>
    </xs:simpleType>


</xs:schema>